rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == "westoria28@gmail.com";
    }

    match /map-resources/{resourceId}/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /lesson_pdfs/{unitId}/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /years/{year}/semesters/{semester}/lesson_pdfs/{unitId}/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
  }
}
